* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    color: #fafbff;
    scroll-behavior: smooth;
    cursor: crosshair;
    background: #212121;

}

/* NAVBAR STYLES */
.navbar {
    background: #212121;
    height: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; 
    padding: 0 50px;
}

#navbar__logo {
    /* background-color: #9fb7f2;
    background-image: linear-gradient(to top, #9fb7f2 0%, #3f2b96 100%); */
    background-size: 100%;
    font-family: 'Zeyada', sans-serif;
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #fafbff;

}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fafbff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

/* ABOUT STYLES */
.main {
  background: #212121;
  padding: 120px 0;
}

.main__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@keyframes pulse {
  0% {
      transform: scale(.7);
      background-color: #9fb7f2;
      border-radius: 100%;
  }

  50% {
      background-color: #adadad;
  }

  100% {
      transform: scale(1.4);
      background-color: #3f2b96;
  }
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  text-align: left;
  padding: 0px 30px 30px;
}

.main__heading {
  font-family: "Unbounded", sans-serif; /* "Rowdies" alternative */
  font-size: 80px;
  /* letter-spacing: 20px; */
  margin-bottom: 15px;
  color: #92a8df;
  background: -webkit-linear-gradient(to right, #fce2e2, #92a8df 40%, #9fb7f2 60%, #fce2e2);
  background: linear-gradient(to right, #fce2e2, #92a8df 40%, #9fb7f2 60%, #fce2e2);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: shine 7s linear infinite;
  display: inline-block;
}

.main__heading a {
  font-family: "Unbounded", sans-serif;
}

.main__heading a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #92a8df;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main__heading a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.main__description {
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #fafbff;
  margin-bottom: 50px;
  width: 100%;
  /* background-color: #9fb7f2; */
}

.main__description p {
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    color: #fafbff;
  }

.main__description a {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #fafbff;
}

.main__description a:hover {
  color: #9fb7f2;
  /* animation: highlight; */
  transition: 0.3s ease-in-out;
}

.glow {
  font-size: 15px;
  font-family: 'Zeyada', sans-serif;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #92a8df, 0 0 30px #92a8df, 0 0 40px #92a8df, 0 0 50px #92a8df, 0 0 60px #92a8df;
  }
  to {
      text-shadow: 0 0 10px #fff, 0 0 20px #9fb7f2, 0 0 30px #9fb7f2, 0 0 40px #9fb7f2, 0 0 50px #9fb7f2, 0 0 60px #9fb7f2, 0 0 70px #9fb7f2;
  }
}

.highlight {
  border-bottom: 4px solid #9fb7f2;
}

@media screen and (max-width: 678px) {
  .main__heading {
      font-size: 80px;
  }

  .main__description {
      font-size: 20px;
      width: 70%;
  }
}

/* COURSES STYLES */
.courses__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.course {
  position: relative; /* To ensure the pseudo-element is positioned relative to the project box */
  flex: 1 1 calc(50% - 20px); /* Each section takes 50% width minus margin */
  margin: 10px;
  padding: 20px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #fafbff;
  overflow: hidden; /* ensure ::before pseudo-element stays inside the box */
  border: 2px solid transparent; /* Add an initial transparent border */
}

.course::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px; /* Optional, depending on how you want the corners */
  border: 2px solid transparent; /* Initially transparent border */
  background-size: 200% auto;
  z-index: 0;
  transition: background-position 0.5s, border-color 0.5s;
  pointer-events: none; /* Ensure the pseudo-element doesn't capture mouse events */
}

.course:hover::before {
  border-color: #9fb7f2; /* Change the border color on hover */
}

.course h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    /* font-family: "Quicksand", sans-serif; */
    font-family: 'Unbounded', sans-serif;
    text-decoration: none;
    color: #fafbff;
}

.course p {
    font-size: 1.5em;
    font-family: "Zeyada", sans-serif;
    color: #fce2e2;
}

.contents {
    list-style: circle inside;
    padding: 0;
}

.contents li {
    margin-bottom: 10px;
}

.contents li a {
    color: #9fb7f2;
    text-decoration: none;
}

.contents li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .courses__container {
        flex-direction: column;
        /* flex: 1 1 100%;  */  /* For smaller screens, each section takes 100% width */
    }
}


/* FOOTER STYLES */
.footer__container {
    background-color: #212121;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social__icon--link {
    color: #fafbff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights {
    font-size: 12px;
    color: #fafbff;
    margin-top: 2rem;
}